.main-div{
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-card{
  width: 80%;
  alignment: center;
  text-align: center;
  align-content: center;
  padding: 100px;
}
.full-width {
  width: 60%;
  font-size: 18px;
}
.form-fields{

}
