<table class="table table-striped table-responsive-md btn-table" id="listUsers">


  <tr class="row">
    <th class="col-md-3 d-none d-sm-table-cell">#</th>
    <th class="col-md-3 d-none d-sm-table-cell">First Name</th>
    <th class="col-md-3 d-none d-sm-table-cell">Last Name</th>
    <th class="col-md-3 d-none d-sm-table-cell">Username</th>
  </tr>


  <tr class="row">
    <td class="col-md-3 d-none d-sm-table-cell"><img src="assets/images/user.jpg" width="75px" class="rounded-circle">
    </td>
    <td class="col-md-3 d-none d-sm-table-cell">
      First Name
    </td>
    <td class="col-md-3 d-none d-sm-table-cell"> Last name</td>
    <td class="col-md-3 d-none d-sm-table-cell">Some details</td>
    <td class="d-block d-sm-none" width="100%" style="border: #117a8b">
     <table width="100%">
        <tr>
          <td rowspan="5" width="20%" ><img src="assets/images/user.jpg" width="75px" class="rounded-circle"></td>
        </tr>
        <tr>
          <td>First Name</td>
        </tr>
        <tr>
          <td>Last Name</td>
        </tr>
        <tr>
          <td>Email</td>
        </tr>
        <tr>
          <td>Roles</td>
        </tr>
      </table>
    </td>

  </tr>
  <tr class="row">
    <td class="col-md-3 d-none d-sm-table-cell"><img src="assets/images/user.jpg" width="75px" class="rounded-circle">
    </td>
    <td class="col-md-3 d-none d-sm-table-cell">
      First Name
    </td>
    <td class="col-md-3 d-none d-sm-table-cell"> Last name</td>
    <td class="col-md-3 d-none d-sm-table-cell">Some details</td>
    <td class="d-block d-sm-none" width="100%" style="border: #117a8b">
     <table width="100%">
        <tr>
          <td rowspan="5" width="20%"><img src="assets/images/user.jpg" width="75px" class="rounded-circle"></td>
        </tr>
        <tr>
          <td>First Name</td>
        </tr>
        <tr>
          <td>Last Name</td>
        </tr>
        <tr>
          <td>Email</td>
        </tr>
        <tr>
          <td>Roles</td>
        </tr>
      </table>
    </td>

  </tr>
  <tr class="row">
    <td class="col-md-3 d-none d-sm-table-cell"><img src="assets/images/user.jpg" width="75px" class="rounded-circle">
    </td>
    <td class="col-md-3 d-none d-sm-table-cell">
      First Name
    </td>
    <td class="col-md-3 d-none d-sm-table-cell"> Last name</td>
    <td class="col-md-3 d-none d-sm-table-cell">Some details</td>
    <td class="d-block d-sm-none" width="100%" style="border: #117a8b">
      <table width="100%">
        <tr>
          <td rowspan="5" width="20%"><img src="assets/images/user.jpg" width="75px" class="rounded-circle"></td>
        </tr>
        <tr>
          <td>First Name</td>
        </tr>
        <tr>
          <td>Last Name</td>
        </tr>
        <tr>
          <td>Email</td>
        </tr>
        <tr>
          <td>Roles</td>
        </tr>
      </table>
    </td>

  </tr>
</table>
