<div class="row" style="padding: 70px">
  <div class="col-4 d-none d-sm-table-cell"></div>
  <div class="">
    <form class="createUserform">

      <div class="form-group">
        <label for="firstUser1">First Name</label>
        <input type="text" class="form-control" id="firstUser1" aria-describedby="firstnameHelp"
               placeholder="First Name">
      </div>

      <div class="form-group">
        <label for="middleUser1">Middle Name</label>
        <input type="text" class="form-control" id="middleUser1" aria-describedby="emailHelp" placeholder="Middle Name">
      </div>

      <div class="form-group">
        <label for="lastUser1">Last Name</label>
        <input type="text" class="form-control" id="lastUser1" aria-describedby="emailHelp" placeholder="Last Name">
      </div>

      <div class="form-group">
        <label for="exampleInputGender">Gender</label>
        <input type="text" class="form-control" id="exampleInputGender" aria-describedby="emailHelp"
               placeholder="Gender">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp"
               placeholder="Email">
      </div>
      <div class="form-group">
        <label for="exampleInputPhone">Phone</label>
        <input type="phone" class="form-control" id="exampleInputPhone" aria-describedby="phoneHelp"
               placeholder="Phone">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Upload</span>
        </div>
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="inputGroupFile01">
          <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
        </div>
      </div>
      <button type="button" class="btn btn-primary" (click)="back()"> Back</button>&nbsp;&nbsp;
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <div class="col-4 d-none d-sm-table-cell"></div>
  <div class="col-1 d-none d-sm-table-cell"></div>
</div>

