<form class="updateUserform1">
  <div class="container">
    <div class="row"> &nbsp;
    </div>
    <div class="row">
      <div class="col-md-9"></div>
      <div class="col-md-2">
        <button type="submit" class="btn btn-primary col-md-12">Save</button>
      </div>
      <div class="col-md-1"></div>
    </div>
    <div class="row">
      <fieldset class="col-md-5">
        <legend>User Details</legend>


        <div class="form-group">
          <label for="firstUser1">First Name</label>
          <input type="text" class="form-control" id="firstUser1" aria-describedby="firstnameHelp"
                 placeholder="First Name">
        </div>

        <div class="form-group">
          <label for="middleUser1">Middle Name</label>
          <input type="text" class="form-control" id="middleUser1" aria-describedby="emailHelp"
                 placeholder="Middle Name">
        </div>

        <div class="form-group">
          <label for="lastUser1">Last Name</label>
          <input type="text" class="form-control" id="lastUser1" aria-describedby="emailHelp"
                 placeholder="Last Name">
        </div>

        <div class="form-group">
          <label for="exampleInputGender">Gender</label>
          <input type="text" class="form-control" id="exampleInputGender" aria-describedby="emailHelp"
                 placeholder="Gender">

        </div>
        <div class="form-group">
          <label for="exampleInputPhone">Phone</label>
          <input type="text" class="form-control" id="exampleInputPhone" aria-describedby="emailHelp"
                 placeholder="Phone">

        </div>
        <div class="form-group">
          <label for="exampleInputPhone1">Email</label>
          <input type="text" class="form-control" id="exampleInputPhone1" aria-describedby="emailHelp"
                 placeholder="Email">

        </div>
      </fieldset>
      <div class="col-md-1"></div>
      <fieldset class="col-md-5">
        <legend>Contact Information</legend>


        <div class="form-group">
          <label for="address1">Address 1</label>
          <input type="text" class="form-control" id="address1" placeholder="Address 1">
        </div>
        <div class="form-group">
          <label for="address2">Address 2</label>
          <input type="text" class="form-control" id="address2" placeholder="Address 2">
        </div>

        <div class="form-group">
          <label for="city">City</label>
          <input type="text" class="form-control" id="City" placeholder="City">
        </div>
        <div class="form-group">
          <label for="state">State</label>
          <input type="text" class="form-control" id="state" placeholder="State">
        </div>
        <div class="form-group">
          <label for="zip">Zip</label>
          <input type="text" class="form-control" id="zip" placeholder="Zip">
        </div>


      </fieldset>
    </div>
    <div class="row"> &nbsp;
    </div>
    <div class="row">
      <fieldset class="col-md-5">
        <legend>Roles Details</legend>


        <div class="form-group">
          <label for="firstUser1">Admin</label>
          <input type="text" class="form-control" id="firstUser1" aria-describedby="firstnameHelp"
                 placeholder="First Name">
        </div>

        <div class="form-group">
          <label for="middleUser1">Super User</label>
          <input type="text" class="form-control" id="middleUser1" aria-describedby="emailHelp"
                 placeholder="Middle Name">
        </div>


      </fieldset>
      <div class="col-md-1"></div>
      <fieldset class="col-md-5">
        <legend>Password Details</legend>


        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-group">
          <label for="passwordQuestion">Password Question</label>
          <input type="text" class="form-control" id="passwordQuestion" aria-describedby="passwordQuestionHelp"
                 placeholder="Password Question">
        </div>

        <div class="form-group">
          <label for="passwordAnswer">Password Answer</label>
          <input type="text" class="form-control" id="passwordAnswer" aria-describedby="emailHelp"
                 placeholder="Password Answer">
        </div>

      </fieldset>
    </div>
  </div>


</form>
