<form class="updateUserform" autocomplete="off">
  <div class="container">

    <div class="row">
      <fieldset class="col-md-5">
        <legend>User Details</legend>


        <div class="form-group">
          <label for="firstname">First Name</label>
          <input type="text" class="form-control" [(ngModel)]="firstName" id="firstname"
                 aria-describedby="firstnameHelp"
                 placeholder="First Name" name="first">
        </div>

        <div class="form-group">
          <label for="inputmiddlename">Middle Name</label>
          <input type="text" class="form-control" id="inputmiddlename" aria-describedby="emailHelp"
                 placeholder="Middle Name" [(ngModel)]="middleName" name="middle">
        </div>

        <div class="form-group">
          <label for="lastname">Last Name</label>
          <input type="text" class="form-control" id="lastname" aria-describedby="emailHelp"
                 placeholder="Last Name" value="{{lastName}}" [(ngModel)]="lastName" name="last">
        </div>

        <div class="form-group">
          <label for="exampleInputGender">Gender</label>
          <select id="exampleInputGender" class="form-control" [(ngModel)]='genderVal' name="genderSelect">
            <option value="0">-- Select--</option>
            <option *ngFor="let gen of gender" value={{gen.usergenderid}}>
              {{gen.gendername}}
            </option>
          </select>


        </div>
        <div class="form-group">
          <label for="exampleInputPhone">Phone</label>
          <input type="text" class="form-control" id="exampleInputPhone" aria-describedby="emailHelp"
                 placeholder="Phone" [(ngModel)]="phone" name="exampleInputPhone">

        </div>
        <div class="form-group">
          <label for="email-input">Email</label>
          <input type="text" class="form-control" id="email-input" placeholder="Email" [(ngModel)]="email"
                 name="email-input">

        </div>
        <div class="col-md-5">
          <button type="submit" class="btn btn-primary col-md-12" (click)="saveUserDetails()">Save</button>
        </div>
      </fieldset>
      <div class="col-md-1">&nbsp;</div>
      <fieldset class="col-md-5">
        <legend>Contact Information</legend>


        <div class="form-group">
          <label for="address1Input">Address 1</label>
          <input type="text" class="form-control" id="address1Input" placeholder="Address 1" [(ngModel)]="address1"
                 name="address1Input">
        </div>
        <div class="form-group">
          <label for="address2Input">Address 2</label>
          <input type="text" class="form-control" id="address2Input" placeholder="Address 2" [(ngModel)]="address2"
                 name="address2Input">
        </div>

        <div class="form-group">
          <label for="cityInput">City</label>
          <input type="text" class="form-control" id="cityInput" placeholder="City" [(ngModel)]="city" name="cityInput">
        </div>
        <div class="form-group">
          <label for="stateInput">State</label>
          <input type="text" class="form-control" id="stateInput" placeholder="State" [(ngModel)]="state"
                 name="stateInput">
        </div>
        <div class="form-group">
          <label for="country-Input">Country</label>
          <input type="text" class="form-control" id="country-Input" placeholder="Country" [(ngModel)]="country"
                 name="country-Input">
        </div>
        <div class="form-group">
          <label for="zip-Input">Zip</label>
          <input type="text" class="form-control" id="zip-Input" placeholder="Zip" [(ngModel)]="zip" name="zip-Input">
        </div>
        <div class="col-md-5">
          <button type="submit" class="btn btn-primary col-md-12" (click)="saveUserAddress()">Save</button>
        </div>

      </fieldset>
    </div>
    <div class="row"> &nbsp;
    </div>
    <div class="row">
      <fieldset class="col-md-5">
        <legend>Roles Details</legend>

        <div class="row">
          <div class="col-md-9">
            <label for="roles">Roles</label>
            <select multiple id="roles" [(ngModel)]='rolesVal' name="roleSelect"
                    class="mdb-select colorful-select dropdown-primary md-form">
              <option *ngFor="let role of roles" value={{role.roleid}}>
                {{role.rolename}}
              </option>
            </select>

          </div>

          <div class="col-md-2">
            <div class="row" *ngIf="!usersData.dbFile">
              <img src="assets/images/user.jpg" class="rounded-circle"
                   [routerLink]=""
                   [queryParams]="" data-toggle="modal" data-target="#myModal" [routerLinkActive]="['is-active']"
                   queryParamsHandling="merge">

            </div>
            <div class="row" *ngIf="usersData.dbFile">
              <img src="data:image/png;base64,{{usersData.dbFile.data}}" width="75px" class="rounded-circle"
                   [routerLink]=""
                   [queryParams]="" [routerLinkActive]="['is-active']" queryParamsHandling="merge" data-toggle="modal"
                   data-target="#myModal">

            </div>
          </div>
          <div class="col-md-1">&nbsp;</div>
        </div>
        <div class="col-md-5">
          <button type="submit" class="btn btn-primary col-md-12" (click)="saveUserRole()">Save</button>
        </div>

      </fieldset>
      <div class="col-md-1">&nbsp;</div>
      <fieldset class="col-md-5">
        <legend>Password Details</legend>


        <div class="form-group">
          <label for="password-Input">New Password</label>
          <input type="password" class="form-control" id="password-Input" placeholder="Password"
                 [(ngModel)]="newpassword"
                 name="password-Input">
        </div>
        <div class="form-group">
          <label for="password1-Input">Confirm New Password</label>
          <input type="password" class="form-control" id="password1-Input" placeholder="Password"
                 [(ngModel)]="confnewpassword"
                 name="password1-Input">
        </div>
        <div class="form-group">
          <label for="password-Question">Password Question</label>
          <select  id="password-Question" [(ngModel)]='passwordQuestionsVal' name="passwordSelect"
                   class="form-control">
            <option value="0">-- Select--</option>
            <option *ngFor="let pq of passwordQuestions" value={{pq.id}}>
              {{pq.passwordquestion}}
            </option>
          </select>


        </div>

        <div class="form-group">
          <label for="password-Answer">Password Answer</label>
          <input type="text" class="form-control" id="password-Answer" aria-describedby="emailHelp"
                 placeholder="Password Answer" [(ngModel)]="passwordAnswer" name="password-Answer">
        </div>
        <div class="col-md-5">
          <button type="submit" class="btn btn-primary col-md-12">Save</button>
        </div>
      </fieldset>
    </div>
    <div class="row"> &nbsp;
    </div>
  </div>
  <!-- Button to Open the Modal -->

  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Upload Profile Picture</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <app-image-upload></app-image-upload>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>

</form>
